@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'katex/dist/katex.css';

@font-face {
  font-family: katex;
  src: url("assets/fonts/KaTeX_Main-Regular.ttf");
}

.katex-wrapper {
  position: relative;
  padding: 4px;

  .katex-e-display {
    text-align: center;
    width: 100%;
    overflow-x: auto;
  }

  .hide {
    display: none;
  }
}

.inline-katex {
  font-family: katex;
  font-size: 1.21em;
}
